/* Overrides and extensions that fill gaps in Bulma */

@media screen and (max-width: 768px) {
  .column.is-one-third-mobile {
    flex: none !important;
    width: 33% !important;
  }
}

@media screen and (max-width: 768px) {
  .column.is-half-mobile {
    flex: none !important;
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  .column.is-whole-mobile {
    flex: none !important;
    width: 100% !important;
  }
}
